.underline{
text-decoration: underline;
}

.highlight{
background-color: orange;
}

.red-text{
color: red;
}



img {
  display: block;
  margin: 0 auto 30px auto;
  width: 500px;
}

p {
  max-width: 500px;
  margin: auto;
  font-size: 20px;
  text-align: justify;
}
